header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.inline-list {
    display: inline-flex;
}

.primary-color {
    background: $primary-color;
}

.primary-color-text {
    color: $primary-color-dark;
}

.primary-color-light {
    background: $primary-color-light;
}

.primary-color-dark {
    background: $primary-color-dark;
}

.waves-effect.waves-primary .waves-ripple {
    background-color: rgba($color: $primary-color, $alpha: .65);
}

.page-header {
    position: relative;
    height: 50vh;

    img {
        width: 100%;
    }

    .page-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}