<div id="contactos" class="modal">
    <div class="modal-content container">
        <div class="row">
            <form name="contactos" method="POST" class="col s12" netlify>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="full_name" name="Nome Completo" type="text" class="validate" required>
                        <label for="full_name">Nome Completo</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" name="Email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>                

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" name="Mensagem" class="materialize-textarea" length="500" required></textarea>
                        <label for="textarea1">Mensagem</label>
                    </div>
                </div>
                <div class="center"><button type="submit" name="submit" class="btn waves-effect waves-light">Envie <i class="fas fa-share"></i></button></div>
            </form>

            <div class="center">
                {% include contactos.html %}
            </div>
        </div>
    </div>
</div>