<section id="more" class="section center white">
    <div class="container">
        <h3 class="primary-color-text">Veja Mais</h3>

        <div class="row">
            <div class="col s12 l4">
                <div class="card small hoverable">
                    <div class="card-image">
                        {% for item in site.galeria limit: 1 %}
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                        {% endfor %}
                    </div>

                    <div class="card-content">
                        <span class="card-title">Galeria</span>
                    </div>

                    <div class="card-action">
                        <a href="/galeria/" title="Galeria" class="btn-flat waves-effect waves-primary">Veja Mais</a>
                    </div>
                </div>
            </div>

            <div class="col s12 l4">
                <div class="card small hoverable">
                    <div class="card-image">
                        {% for item in site.posts limit: 1 %}
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                        {% endfor %}
                    </div>

                    <div class="card-content">
                        <span class="card-title">Noticias</span>
                    </div>

                    <div class="card-action">
                        <a href="/noticias/" title="Noticias" class="btn-flat waves-effect waves-primary">Veja Mais</a>
                    </div>
                </div>
            </div>

            <div class="col s12 l4">
                <div class="card small hoverable">
                    {% if page.title == "Liceu Ebenezer" %}
                        <div class="card-image">
                            <img src="/assets/img/imepecover.jpg" alt="IMEPE">
                        </div>

                        <div class="card-content">
                            <span class="card-title">IMEPE</span>
                        </div>

                        <div class="card-action">
                            <a href="/imepe/" title="IMEPE" class="btn-flat waves-effect waves-primary">Veja Mais</a>
                        </div>

                        {% else %}
                            <div class="card-image">
                                <img src="/assets/img/liceu3dcover.jpg" alt="Liceu">
                            </div>

                            <div class="card-content">
                                <span class="card-title">Liceu Ebenezer</span>
                            </div>

                            <div class="card-action">
                                <a href="/liceu/" title="Liceu Ebenezer" class="btn-flat waves-effect waves-primary">Veja Mais</a>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>