<div class="flex-container">
    {% for post in posts.paginator %}
        <div class="card small hoverable">
            <div class="card-image">
                <a href="{{ post.url }}" title="{{ post.title }}">
                    <img src="{{ post.image }}" alt="{{ post.title }}">
                </a>
            </div>
            <div class="card-content">
                <span class="card-title">
                    <a href="{{ post.url }}" title="{{ post.title }}" class="grey-text text-darken-4">
                        <strong>{{ item.title | truncatewords: 50 }}</strong>
                    </a>
                </span>
                <hr>
                <span class="thin grey-text">
                    Por: {{ post.author }} | {{ post.date | date_to_string }}
                </span>
            </div>
        </div>
    {% endfor %}
</div>