<header class="slider hide-on-small-only">
    <ul class="slides">
        {% for post in site.posts limit: 4 %}
            <li>
                <img src="{{ post.image }}" alt="{{ post.title }}">
                <div class="caption center-align">
                    <a href="{{ post.url }}" class="white-text">
                        <h4 style="text-shadow: 2px -2px #444;">{{ post.title }}</h4>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</header>