<aside id="sideNav" class="sidenav sidenav-fixed">
    <a href="/" title="{{ site.title }}">
        <img src="/assets/img/logos/logobg.svg" alt="{{ site.title }}">
    </a>
    <div class="card hoverable">
        {% include duckduckgo.html %}
    </div>
    <div class="divider"></div>

    <ul>
        {% include nav.html %}
    </ul>
    <hr class="divider">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }} Todos Direitos Reservados por <a href="https://izitag.github.io" rel="author" target="_blank">IZItag</a>
    </div>
</aside>